<form action="/api/users" id="add_user" method="POST">
  <div class="new-user">

    <div class="form-group">
      <label for="username" class="text-light">Username</label>
      <input type="hidden" name="id" value="">
      <input type="text" name="username" value="">
    </div>

    <div class="form-group">
      <label for="fullname" class="text-light">Full Name</label>
      <input type="text" name="fullname" value="">
    </div>

    <div class="form-group">
      <label for="email" class="text-light">Email</label>
      <input type="text" name="email" value="">
    </div>

    <div class="form-group">
      <label for="password" class="text-light">Password</label>
      <input type="password" name="password" value="">
    </div>

    <div class="form-group">
      <label for="bio" class="text-light">About Yourself</label>
      <input type="textarea" name="bio" value="">
    </div>

    <div class="radio-group">
      <label for="role" class="text-light">Role</label>
      <div class="radio inline">
        <input type="radio" name="role" value="user">
        <label for="role" class="text-light">User</label>
      </div>

      <div class="radio inline">
        <input type="radio" name="role" value="admin">
        <label for="role" class="text-light">Admin</label>
      </div>
    </div>

    <div class="form-group">
      <button class="text-dark update btn">Save</button>
    </div>

  </div>
</form>