<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Login</title>
      <link
         href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="styles/tailwind.css" />
   </head>

   <body class="h-screen w-100 flex justify-center items-center bg-black">
      <div
         class="
            login
            flex flex-col
            items-center
            justify-around
            space-y-5
            p-16
            bg-gray-900
            rounded-lg
            border-2 border-gray-500
         "
      >
         <p class="text-white text-2xl text-yellow-500">Login</p>
         <div class="flex flex-col gap-1">
            <label class="text-yellow-500 text-left">Username</label>
            <input
               required
               type="text"
               class="
                  username
                  text-yellow-500
                  w-64
                  px-4
                  py-3
                  rounded-md
                  focus:outline-none
                  bg-gray-700
                  border border-black
                  hover:border-yellow-500 hover:bg-black
               "
            />
         </div>
         <div class="flex flex-col gap-1">
            <label class="text-yellow-500 text-left">Password</label>
            <input
               required
               type="password"
               class="
                  password
                  text-yellow-500
                  w-64
                  px-4
                  py-3
                  rounded-md
                  focus:outline-none
                  bg-gray-700
                  border border-black
                  hover:border-yellow-500 hover:bg-black
               "
            />
         </div>
         <button
            class="
               mt-4
               lg:m-0
               bg-yellow-500
               text-black
               w-52
               md:w-56
               lg:w-5/12
               px-4
               py-2
               rounded-md
               hover:bg-black hover:text-yellow-500
               border border-transparent
               hover:border-yellow-500
               font-semibold
            "
            type="submit"
            onclick="login()"
         >
            Login
         </button>
         <p class="text-yellow-500">
            Don't have an account ? Register
            <a class="underline" href="/register">here</a>
         </p>
      </div>
      <script>
         const login = async () => {
            let username = document.querySelector(".username");
            let password = document.querySelector(".password");

            let config = {
               method: "post",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({
                  username: username.value,
                  password: password.value,
               }),
            };

            try {
               const response = await fetch("/login", config);
               const json = await response.json();

               alert(json.message);
               console.log(json);
               if (
                  json.message === "Login Successful" &&
                  json.data.role === "user"
               ) {
                  sessionStorage.setItem(
                     "user-data",
                     JSON.stringify(json.data)
                  );
                  sessionStorage.setItem("isLogged", true);
                  sessionStorage.setItem("token", JSON.stringify(json.token));
                  window.location.href = "/";
               } else if (
                  json.message === "Login Successful" &&
                  json.data.role === "admin"
               ) {
                  sessionStorage.setItem("isLogged", true);
                  sessionStorage.setItem("token", JSON.stringify(json.token));
                  sessionStorage.setItem(
                     "user-data",
                     JSON.stringify(json.data)
                  );
                  window.location.href = "/dashboard";
               } else {
                  return;
               }
            } catch (err) {
               console.error(err);
            }
         };
      </script>
   </body>
</html>
