<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Register</title>
      <link
         href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
         rel="stylesheet"
      />
      <link rel="stylesheet" href="styles/tailwind.css" />
   </head>

   <body class="h-screen w-100 flex justify-center items-center bg-black">
      <form
         onsubmit="register()"
         class="
            login
            flex flex-col
            items-center
            justify-around
            space-y-5
            p-16
            bg-gray-900
            rounded-lg
            border-2 border-gray-500
         "
      >
         <p class="text-white text-2xl text-yellow-500">Register</p>
         <input
            required
            type="text"
            placeholder="Username"
            class="
               username
               text-yellow-500
               w-64
               px-4
               py-3
               rounded-md
               focus:outline-none
               bg-gray-700
               border border-black
               hover:border-yellow-500 hover:bg-black
            "
         />
         <input
            required
            type="email"
            placeholder="Email"
            class="
               email
               text-yellow-500
               w-64
               px-4
               py-3
               rounded-md
               focus:outline-none
               bg-gray-700
               border border-black
               hover:border-yellow-500 hover:bg-black
            "
         />
         <input
            required
            type="password"
            placeholder="Password"
            class="
               password
               text-yellow-500
               w-64
               px-4
               py-3
               rounded-md
               focus:outline-none
               bg-gray-700
               border border-black
               hover:border-yellow-500 hover:bg-black
            "
         />
         <input
            class="
               mt-4
               lg:m-0
               bg-yellow-500
               text-black
               w-52
               md:w-56
               lg:w-5/12
               px-4
               py-2
               rounded-md
               hover:bg-black hover:text-yellow-500
               border border-transparent
               hover:border-yellow-500
               font-semibold
               hover:cursor-pointer
            "
            type="submit"
         >
            Register
         </input>
      </form>
      <script>
         let register = async () => {
            let username = document.querySelector(".username");
            let password = document.querySelector(".password");
            let email = document.querySelector(".email");

            let config = {
               method: "post",
               headers: {
                  "Content-Type": "application/json",
               },
               body: JSON.stringify({
                  username: username.value,
                  password: password.value,
                  email: email.value,
               }),
            };

            try {
               const response = await fetch("/register", config);
               const jsonData = await response.json();
               if (jsonData.message === "Successfully registered") {
                  alert(jsonData.message);
                  window.location.href = "/login";
               } else if (
                  jsonData.message === "User Already Exist. Please Login"
               ) {
                  alert(jsonData.message);
                  window.location.href = "/login";
               } else {
                  alert(jsonData.message);
               }
            } catch (e) {
               console.error(e);
            }
         };
      </script>
   </body>
</html>
