<%- include("partials/_header") %>

<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/dashboard">
          <i class="fas fa-angle-double-left"></i>
          Dashboard</a>
      </div>
    </div>

    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Fill this form to update user details</span>
    </div>

    <%- include("partials/_update-user-form") %>

  </div>
</main>

<%- include("partials/_footer") %>